* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

* p {
  font-family: "Josefin Slab", serif;
  color: #000;
}

/* Navbar */
.header {
  background: #2a8b8b;
  padding-inline: 16px;
  z-index: 2;
}

.nav {
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.nav-list {
  display: flex;
  gap: 60px;
  list-style: none;
}

.nav-list a {
  font-size: 25px;
  color: #fff;
  padding-block: 16px;
  text-decoration: none;
}

.nav-list li {
  display: flex;
  justify-items: center;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

/* Banner */
#banner {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#banner img:first-child {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  cursor: pointer;
}

#arrow-left {
  border-right: 20px solid #fff;
  left: 10px;
}

#arrow-right {
  border-left: 20px solid #fff;
  right: 10px;
}

.image {
  width: 100%;
  height: 400px;
  background: center/cover no-repeat;
}

/* About Us */
.aboutUs {
  margin-bottom: 50px;
  text-align: center;
}

.aboutUs h2 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 50px;
}

.aboutUs p {
  line-height: 1.6;
  margin: 30px 130px 0px 130px;
  text-align: center;
  font-size: 20px;
}

/* Atuação  */
.areas {
  width: 100vw;
  height: 676px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background: #ffffff;
}

.areas h2 {
  padding-top: 40px;
  padding-bottom: 90px;
  color: #000;
  font-size: 50px;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.box1 {
  width: 404px;
  height: 406px;
}

.box2 {
  width: 404px;
  height: 406px;
}

.boxes img {
  width: 150px;
  margin-bottom: 45px;
}

.boxes a:hover {
  text-decoration: underline;
}

.boxes p {
  margin-bottom: 35px;
  margin-top: 35px;
  font-size: 20px;
}

.box1 > a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  display: block;
}

.box2 > a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  display: block;
}

/* Contato */

.container {
  max-width: 70%;
  margin: 20px auto;
}

.container h1 {
  text-align: center;
  color: #333;
  font-size: 50px;
}

.container h2 {
  color: #333;
  margin-top: 100px;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input {
  width: 100%;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
textarea {
  width: 100%;
  height: 130px;
}

input[type="submit"],
.send {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="submit"]:hover,
.send:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  background-color: #008080;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-section {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}

.footer-section img {
  width: 20px;
  margin-right: 10px;
}

.footer-pre a {
  line-height: 40px;
}

.footer-divider {
  height: 100px;
  width: 2px;
  background-color: #fff;
  margin: 0 20px;
}

footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}

footer p {
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: block;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 40;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2a8b8b;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    z-index: 1;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .boxes {
    display: grid;
  }
  .areas {
    height: 1150px;
  }
  .box2 {
    margin-top: 75px;
  }
  .aboutUs p {
    margin-inline: 50px;
  }
}
